
.pillSchedule {
    background-color: #f3d68c;
    height:500px;
    width:600px;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.date {
    padding:10px 0px;
    font-size:14px;
    
}
.datePicker {
    float:right;
    position:relative;
    right:15px;
}
.datePicker i {
    font-size:19px;
    line-height:24px;
}
.schedule-sideMenu {
    float:left;
    position:relative;
    left:15px;
}
.schedule-sideMenu i {
    font-size:19px;
    line-height:24px;
}
.scheduleRow {
    background-color: white;
    width:90%;
    height:110px;
    margin:15px auto;
    box-shadow: 0 4px 20px 0 rgba(0,0,0,.14), 0 7px 10px -5px rgba(255,152,0,.4);
    border-radius: 8px;
    position:relative;
}
.Instruction {
    width: 32%;
    padding:8px 0px 8px 10px;
    position:relative;
    top: 20px;
    font-family: Helvetica,Arial,sans-serif;
    font-size:14px;
    text-align:left;
    top:50%;
    bottom:50%;
    transform: translate(0%, -50%);
    float:left;
}
.pillName {
    position:absolute;
    background-color:rgb(241, 109, 33);
    top:-16px;
    padding:4px 10px;
    z-index:5;
    color:#ffffff;
    font-weight: 400;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
}
.timeOfDayIconContainer {
    float:left;
}
.timeOfDay {
    display: inline-block;
    width:36px;
    height:36px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    box-shadow: 0 1px 4px 0 rgba(0,0,0,.14);
    margin-left:8px;
}
.morning {
    background-color: rgb(243, 193, 29);
    background-image: url("../img/morning.png");
    background-size: 80% 80%;
    margin-left:8px;
}
.noon {
    background-color:orange;
    background-image: url("../img/noon.png");
    background-size:76% 76%;
}
.evening {
    background-color: rgb(42, 61, 231);
    background-image: url("../img/evening.png");
    background-size:72% 72%;
}
.night {
    background-color: rgb(21, 19, 122);
    background-image: url("../img/night.png");
    background-size:70% 70%;
}
.doseVolume {
    position:absolute;
    top:100%;
    width:100%;
    height:100%;
    font-size:16px;
    font-weight: 500;
    line-height:36px;
}
.volumeMorning {
    border:1px dashed rgb(243, 193, 29);
}
.volumeEvening {
    border:1px dashed  rgb(42, 61, 231);
}